@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    color:#ffffff;
    background-image: url('../images/background_darkness.webp')
    
}

.content_grid_body {
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 76px 1fr 85px;
    width: 100%;
    min-height: 100vh;
    grid-template-areas:
    'header'
    'main'
    'footer';
}

nav {
    background-color: #000000;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px 120px 22px 120px;
    position: fixed;
    top: 0;
    border-bottom: 1px solid rgb(255 255 255 / 30%);
    z-index: 999;
}

.flexContainer_navLinks {
    display: flex;
    gap: 40px;
    align-items: center;
}

.socialIcons{
    display: flex;
    align-items: center;
    gap: 15px;

}

.link_imageNav {
    width: 83px;
    display: block;
}

.imageNav {
    width: 34px;
    height: 34px;
    display: block;
}

a, a:visited {
    text-decoration: none;
    color: #ffffff;
}

header {
    grid-area: header;
}

main {
    grid-area: main;
}

.background_white{
    background-color: #ffffff;
}

.font_color_black {
    color: #000000;
}

.main_grid_home {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
    width: 100%;
    min-height: 100%;
    grid-template-areas:
    'titulo titulo imagen imagen'
    'parrafo parrafo imagen imagen';
}
.main_grid_home_title{
    grid-area: titulo;
    align-self: end;
    padding-bottom: 20px;
}

.main_grid_home_paragraph {
    grid-area: parrafo;
    align-self: start;
    padding-top: 20px;
}

.main_grid_home_img {
    grid-area: imagen;
}

.imageHome {
    width: 560px;
    height: auto;
    display: block;
}

h1 {
    font-size: 50px;
    font-weight: 500;
    text-align: center;
}

.titlePages {
    margin: 70px 0px 60px 0px;
}

.paragraphHome {
    font-size: 20px;
    font-weight: 300;
    line-height: 128%;
    margin-bottom: 60px;
    text-align: center;
    padding: 0 15%;
}

.actionButton {
    display: block;
    margin: 75px auto 75px auto;
    width: fit-content;
}

.containerBio {
    display: block;
    max-width: 750px;
    margin: 0 auto;
}

.paragraphBio {
    font-size: 16px;
    font-weight:400;
    line-height: 170%;
    text-align: center;
    margin-bottom: 20px;
}

.seccionEstudiosBio {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 60px;
}

.cajaEstudioBio{
    display:block;
}

.cajaEstudioBio img{
    width: 70px;
    height: 70px;
    margin: 0 auto;
    display: block;
}

.tituloEstudio {
    font-size: 16px;
    font-weight:500;
    text-align: center;
    line-height: 11.5px;
    margin-top: 22px;
    margin-bottom: 10px;
}

.institucionEstudio {
    font-size: 12px;
    font-weight:400;
    text-align: center;
}

.container_page_habilidades{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    color: #000000;
}

.paragraphHabilidades{
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 0;
}

.containerHabilidades{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    justify-items: center;
    align-items: start;
    width: 100%;
    grid-template-areas:
    'column1 column2 column3';
    gap: 35px;
}

.habilidades_items{
    border-radius: 30px;
    background-color: #000000;
    padding: 15px 30px;
    color: #ffffff;
}

.containerHerramientas{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 60px;
    width: 100%;
}

.cajaHerramientas{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.imageHerramienta{
    width: 38px;
    height: auto;
    display: block;
}

.nombreHerramienta{
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-top: 10px;
}

h2 {
    font-size: 50px;
    font-weight: 500;
    text-align: center;
    margin-top: 100px;
}

.containerTrabajos {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    gap: 100px;
}

.cajaTrabajo {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 1150px;
}

.containerImageTrabajo {
    width: 364px;
}

.imageTrabajos {
    width: 364px;
    height: 256px;
    display: block;
}

h3{
    font-size: 24px;
    font-weight: 400;
}

.containerParagraphTrabajos {
    width: 700px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.paragraphTrabajos {
    font-size: 16px;
    font-weight: 100;
    line-height: 128%
}

.containerButtonTrabajos {
    width: 100%;
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 46px;
    
}

.containerButtonTrabajos button {
    display: inline;
    margin: 0;
}

.flex_form {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;
    align-items: center;
    gap: 20px;
}

.form_imput {
width: 600px;
}

.form_textarea {
width: 600px;
height: 200px !important;
}

footer {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content:center;
    padding: 27px 120px 25px 120px;
    gap: 110px;
    grid-area: footer;
    background-color: #161B22;
    color: #7d8590;
}

.footerBorderTop {
    border-top: 1px solid rgba(0,0,0,0.2);
}

.titleFooter {
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 0;
}

.subtitleFooter {
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 0;
}